.container {
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;

  max-width: 480px; // 280px

  @media screen and (min-width: 768px) {
    padding-left: 45px;
    padding-right: 45px;

    max-width: 595px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;

    max-width: 1050px;
  }
}
