.footer__bottom {
  text-align: center;
  margin-bottom: 30px;
}
.footer__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 auto;
  color: #939393;
  @media screen and (max-width: 479px) {
    width: 270px;
  }
}
