<div class="backdrop is-hidden">
    <div class="modal">
        <button class="modal__closed">
            <svg class="btn-closed">
                <use href="./images/svg/sprite.svg#icon-close-cross"></use>
            </svg>
        </button>
        <div class="modal__form">
            <img class='logo' src='./images/pic.jpg' alt='logo-event' />
            <div class='cards'>
                <div class='info-img'>
                    <img class='demo' src='./images/Rectangle.jpg' alt='event' />
                </div>
                <div class='cards__info'>
                    <span class='cards__title'>INFO</span>
                    <p class='cards__text'>
                        Atlas Weekend is the largest music festival
                        in Ukraine.More than 200 artists will create
                        a proper music festival atmosphere on 10 stages
                    </p>
                    <span class='cards__title'>WHEN</span>
                    <p class='cards__text'>2021-06-09
                        <br />
                        20:00 (Kyiv/Ukraine)
                    </p>
                    <span class='cards__title'>WHERE</span>
                    <p class='cards__text'>Kyiv, Ukraine
                        <br />
                        VDNH
                    </p>
                    <span class='cards__title'>WHO</span>
                    <p class='cards__text'>{The Black Eyed Peas</p>

                    <span class='cards__title'>PRICES</span>

                    <div class="modal-price">
                        <svg class="modal__icon-barcode">
                            <use href="./images/svg/sprite.svg#icon-barcode"></use>
                        </svg>
                        <p class='cards__text'>Standart 300-500 UAH</p>
                    </div>
                    <a class="modal-button" target="_blank" href="#">BUY TICKETS</a>
                    <div class="modal-price">
                        <svg class="modal__icon-barcode">
                            <use href="./images/svg/sprite.svg#icon-barcode"></use>
                        </svg>
                        <p class='cards__text'>VIP 1000-1500 UAH</p>
                    </div>
                    <a class="modal-button" target="_blank" href="#">BUY TICKETS</a>
                </div>
            </div>
            <button class='btn-more' data-name=''>MORE FROM THIS AUTHOR</button>

        </div>
    </div>
</div>