<div>
    <div class="bg_image"></div>
    <div class="bg_noise"></div>
    <div class="bg_ellipse5down"></div>
    <div class="bg_ellipse2down"></div>
    <div class="bg_ellipse7down"></div>
    <div class="bg_ellipse7top"></div>
    <div class="bg_ellipse6"></div>
    <div class="bg_ellipse8"></div>
    <div class="bg_ellipse9"></div>
    <div class="bg_ellipse5top"></div>
    <div class="bg_ellipse2top"></div>
    <div class="bg_line_top_left"></div>
    <div class="bg_line_top_right"></div>
    <div class="bg_line_down_left"></div>
    <div class="bg_line_down_right"></div>
</div>