<section class="events-section">
<div class="container">
<ul class="card">
    <li class="card__item link">
            <div class="border-card"></div>
            <img src="https://s1.ticketm.net/dam/a/bf4/19232ccc-60e1-47c7-97be-64346cf83bf4_1402791_TABLET_LANDSCAPE_16_9.jpg"
                alt="img with singer" class="card__item__img card__item__elements">
            <p class="card__item__name-of-group card__item__elements"><span class="marquee">Name of group  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, harum.</span></p>
            <p class="card__item__date-to-begin card__item__elements">26-258-4879</p>
            <p class="card__item__location card__item__elements"><span class="marquee-location"><img class="card__item__location-img"src="./images/card/location.png" alt="location">Location   Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, repellendus!</span></p>
    </li>
    <li class="card__item link">
            <div class="border-card"></div>
            <img src="https://s1.ticketm.net/dam/a/bf4/19232ccc-60e1-47c7-97be-64346cf83bf4_1402791_TABLET_LANDSCAPE_16_9.jpg"
                alt="img with singer" class="card__item__img card__item__elements">
            <p class="card__item__name-of-group card__item__elements"><span class="marquee">Name of group  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, harum.</span></p>
            <p class="card__item__date-to-begin card__item__elements">26-258-4879</p>
            <p class="card__item__location card__item__elements"><span class="marquee-location"><img class="card__item__location-img"src="./images/card/location.png" alt="location">Location   Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, repellendus!</span></p>
    </li>
    <li class="card__item link">
            <div class="border-card"></div>
            <img src="https://s1.ticketm.net/dam/a/bf4/19232ccc-60e1-47c7-97be-64346cf83bf4_1402791_TABLET_LANDSCAPE_16_9.jpg"
                alt="img with singer" class="card__item__img card__item__elements">
            <p class="card__item__name-of-group card__item__elements"><span class="marquee">Name of group  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, harum.</span></p>
            <p class="card__item__date-to-begin card__item__elements">26-258-4879</p>
            <p class="card__item__location card__item__elements"><span class="marquee-location"><img class="card__item__location-img"src="./images/card/location.png" alt="location">Location   Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, repellendus!</span></p>
    </li>
    <li class="card__item link">
            <div class="border-card"></div>
            <img src="https://s1.ticketm.net/dam/a/bf4/19232ccc-60e1-47c7-97be-64346cf83bf4_1402791_TABLET_LANDSCAPE_16_9.jpg"
                alt="img with singer" class="card__item__img card__item__elements">
            <p class="card__item__name-of-group card__item__elements"><span class="marquee">Name of group  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, harum.</span></p>
            <p class="card__item__date-to-begin card__item__elements">26-258-4879</p>
            <p class="card__item__location card__item__elements"><span class="marquee-location"><img class="card__item__location-img"src="./images/card/location.png" alt="location">Location   Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, repellendus!</span></p>
    </li>
    
</ul>
</div>
</section>