<section class="events-section">
<div class="container">
<ul class="card">
    <li class="card__item">
        <a href="" class="card__item__link link">
            <div class="border-card"></div>
            <img src="https://s1.ticketm.net/dam/a/bf4/19232ccc-60e1-47c7-97be-64346cf83bf4_1402791_TABLET_LANDSCAPE_16_9.jpg"
                alt="img with singer" class="card__item__img card__item__elements">
            <p class="card__item__name-of-group card__item__elements"><span class="marquee">Name of groupName of groupName of group</span></p>
            <p class="card__item__date-to-begin card__item__elements">26-258-4879</p>
            <p class="card__item__location card__item__elements"><span class="marquee"><span><img class="card__item__location-img"src="./images/card/location.png" alt="location"></span>Locationsdfghgfdsfgvhbjnkjkgvfcgdsdfxcgvb</span></p>
        </a>
    </li>
    <li class="card__item">
        <a href="" class="card__item__link link">
            <div class="border-card"></div>
            <img src="https://s1.ticketm.net/dam/a/bf4/19232ccc-60e1-47c7-97be-64346cf83bf4_1402791_TABLET_LANDSCAPE_16_9.jpg" 
                alt="img with singer"
                class="card__item__img card__item__elements">
            <h3 class="card__item__name-of-group card__item__elements">Name of group</h3>
            <p class="card__item__date-to-begin card__item__elements">26-258-4879</p>
            <p class="card__item__location card__item__elements">Location</p>
        </a>
    </li>
    <li class="card__item">
        <a href="" class="card__item__link link">
            <div class="border-card"></div>
            <img src="https://s1.ticketm.net/dam/a/bf4/19232ccc-60e1-47c7-97be-64346cf83bf4_1402791_TABLET_LANDSCAPE_16_9.jpg" 
                alt="img with singer"
                class="card__item__img card__item__elements">
            <h3 class="card__item__name-of-group card__item__elements">Name of group</h3>
            <p class="card__item__date-to-begin card__item__elements">26-258-4879</p>
            <p class="card__item__location card__item__elements">Location</p>
        </a>
    </li>
    <li class="card__item">
        <a href="" class="card__item__link link">
            <div class="border-card"></div>
            <img src="https://s1.ticketm.net/dam/a/bf4/19232ccc-60e1-47c7-97be-64346cf83bf4_1402791_TABLET_LANDSCAPE_16_9.jpg" 
                alt="img with singer"
                class="card__item__img card__item__elements">
            <h3 class="card__item__name-of-group card__item__elements">Name of group</h3>
            <p class="card__item__date-to-begin card__item__elements">26-258-4879</p>
            <p class="card__item__location card__item__elements">Location</p>
        </a>
    </li>
</ul>
</div>
</section>