<header class="header">
    <div class="container">
        <div class="header__logo">
            <svg class="header__logo-icon">
                <use href="./images/icons/sprite.svg#icon-logo"></use>
            </svg>
            <div class="background-logo"></div>
        </div>
        <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
        <div class="form">
            <span class="form__input">
                <input autocomplete="off" class="form-element" name="search-field" id="search" type="text" placeholder="Start searching" />
                <svg class="search-icon">
                    <use href="./images/icons/sprite.svg#icon-search"></use>
                </svg>
            </span>
            <span class="form__select">
                <input list="country-search" name="browser" class="form-element" id="country-search-input">
                <datalist id="country-search">
                </datalist>
                </select>
            </span>
        </div>
    </div> 
</header>