<div class="backdrop-footer is-hidden">
    <div class="modal-students__body">
        <div class="modal-students">
            <button class="modal__closed">
                <svg class="btn-closed">
                    <use href="./images/svg/sprite.svg#icon-close-cross"></use>
                </svg>
            </button>
            <div class="modal-students__content">
                <h2 class="modal-students__title">Evet Bosters Team</h2>
                <div class="slideshow-container">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!-- <h3> Slide 1 </h3>
                                <p>Lorem ipsum dolor sit amet.</p> -->
                                <!-- <img class="github-img" src="./images/team/GitHub.jpg" alt=""> -->
                            </div>
                            <div class="swiper-slide">
                                <h3> Sergii Budak </h3>
                                <p>Team Leader <br>
                                    <a href="https://github.com/corund1976" target="_blank" rel="noopener noreferrer">
                                        <svg class="github-icon">
                                            <use href="./images/svg/sprite.svg#icon-github"></use>
                                        </svg>
                                        GithubPage</a>
                                </p>
                                <!-- <img class="github-img" src="./images/team/GitHub.jpg" alt=""> -->
                            </div>
                            <div class="swiper-slide">
                                <h3> Anna Andreikiv </h3>
                                <p>Scrum Master <br>
                                    <a href="https://github.com/anjtka333" target="_blank" rel="noopener noreferrer">
                                        <svg class="github-icon">
                                            <use href="./images/svg/sprite.svg#icon-github"></use>
                                        </svg>
                                        GithubPage</a>
                                </p>
                            </div>
                            <div class="swiper-slide">
                                <h3> Andrii Maistrenko </h3>
                                <p>Developer <br>
                                    <a href="https://github.com/AnriiMais" target="_blank" rel="noopener noreferrer">
                                        <svg class="github-icon">
                                            <use href="./images/svg/sprite.svg#icon-github"></use>
                                        </svg>
                                        GithubPage</a>
                                </p>
                            </div>
                            <div class="swiper-slide">
                                <h3> Adrian Tmocaliuc </h3>
                                <p>Developer <br>
                                    <a href="https://github.com/AdrianTmocaliuc" target="_blank" rel="noopener noreferrer">
                                        <svg class="github-icon">
                                            <use href="./images/svg/sprite.svg#icon-github"></use>
                                        </svg>
                                        GithubPage</a>
                                </p>
                            </div>
                            <div class="swiper-slide">
                                <h3> Vlad Krizhanivskyi </h3>
                                <p>Developer <br>
                                    <a href="https://github.com/Subm1s" target="_blank" rel="noopener noreferrer">
                                        <svg class="github-icon">
                                            <use href="./images/svg/sprite.svg#icon-github"></use>
                                        </svg>
                                        GithubPage</a>
                                </p>
                            </div>
                            <div class="swiper-slide">
                                <h3> Oleksandr Kulyk </h3>
                                <p>Developer <br>
                                    <a href="https://github.com/Sashok1605" target="_blank" rel="noopener noreferrer">
                                        <svg class="github-icon">
                                            <use href="./images/svg/sprite.svg#icon-github"></use>
                                        </svg>
                                        GithubPage</a>
                                </p>
                            </div>
                            <div class="swiper-slide">
                                <h3> Kateryna Kolomiiets </h3>
                                <p>Developer <br>
                                    <a href="https://github.com/KaterynaKolomiiets" target="_blank" rel="noopener noreferrer">
                                        <svg class="github-icon">
                                            <use href="./images/svg/sprite.svg#icon-github"></use>
                                        </svg>
                                        GithubPage</a>
                                </p>
                            </div>
                            <div class="swiper-slide">
                                <h3> Vitaliy Malyshko </h3>
                                <p>Developer <br>
                                    <a href="https://github.com/V0100K" target="_blank" rel="noopener noreferrer">
                                        <svg class="github-icon">
                                            <use href="./images/svg/sprite.svg#icon-github"></use>
                                        </svg>
                                        GithubPage</a>
                                </p>
                            </div>
                            <div class="swiper-slide">
                                <h3>Ivan Lychko</h3>
                                <p>Group Mentor</p>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <!-- <div class="swiper-pagination"></div> -->
                        <!-- <div class="swiper-scrollbar"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
