.bg_image {
  position: absolute;

  z-index: -1;

  width: 100vw;
  height: 364px;

  background-image: url(../images/backgimg.jpg);

  background-size: cover;

  background-position: top center;

  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    height: 446px;
  }

  @media screen and (min-width: 1280px) {
    height: 446px;
  }
}

.bg_noise {
  position: absolute;
  top: 364px;

  z-index: -1;

  width: 100vw;
  height: 2786px;

  background-image: url(../images/bg_body_mobile.png);

  background-size: cover;

  background-position: top center;

  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    height: 2582px;

    background-image: url(../images/bg_body_tablet.jpg);
  }

  @media screen and (min-width: 1280px) {
    height: 1930px;

    background-image: url(../images/bg_body_desktop.jpg);
  }
}
