.modal {
  z-index: 100;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: 915px;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translate(-50%, -50%) scale(1.1);
  &__form {
    position: relative;
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
  }
  &__closed {
    z-index: 100;
    position: absolute;
    padding: 1px 6px;
    top: 14px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: var(--modal-background);
    border: none;
    cursor: pointer;
    &:hover,
    &:focus {
      fill: var(--header-primary);
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 0px 30px;
    left: 50%;
    width: 595px;
    height: 831px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1280px) {
    padding: 0px 30px;

    width: 930px;
    height: 1023px;

    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    &__btn-closed {
      width: 25px;
      height: 25px;
    }
  }
}
.cards {
  display: flex;
  &__info {
    display: block;
    text-align: center;
  }
  &__title {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--header-primary);
  }
  &__text {
    display: block;
    margin: 0px 0px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--background-primary);
  }
  @media screen and(min-width: 768px) {
    margin-left: 30px;
    &__info {
      margin-left: 30px;
      text-align: left;
    }
    &__text {
      margin: 0px 0px 10px;
      text-align: left;
    }
  }
  @media screen and(min-width: 1280px) {
    margin-left: 30px;
    &__info {
      margin-left: 60px;
    }
    &__title {
      margin-bottom: 7px;
      line-height: 1.21;
      font-size: 24px;
    }
    &__text {
      margin: 0px 0px 20px;
      font-size: 18px;
      line-height: 1.22;
    }
  }
}

.logo {
  display: block;
  margin-top: 64px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 102px;
  height: 102px;
  border-radius: 100px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
  }
}
.demo {
  display: none;
  margin-right: auto;
  object-fit: cover;
  color: var(--background-primary);
  @media screen and(min-width: 768px) {
    display: block;
    max-width: 233px;
    height: 416px;
  }
  @media screen and(min-width: 1280px) {
    max-width: 360px;
    height: 641px;
  }
}

.info-img {
  display: block;
}

.modal__icon-barcode {
  display: inline-block;
  width: 24px;
  height: 16px;
  @media screen and (min-width: 1280px) {
    width: 29px;
    height: 19px;
  }
}

.modal-price {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.modal-price > .cards__text {
  margin-left: 13px;
}
