.pagination {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#tui-pagination-container {
  width: 100%;
  height: 30px;
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
  text-align: center;
}
.tui-page-btn {
  width: 30px;
  height: 30px;
  color: inherit;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid transparent;
  &:hover,
  &:focus {
    color: var(--header-primary);
    border: 1px solid var(--header-primary);
    border-radius: 10px 0 10px 0;
    @media screen and (max-width: 768px) {
      //   padding-left: 3px;
      //   padding-right: 3px;zzz
    }

    @media screen and (min-width: 1280px) {
      //   padding-left: 4px;
      //   padding-right: 4px;
    }
  }
}

.tui-is-selected {
  color: var(--header-primary);
  border: 1px solid var(--header-primary);
  border-radius: 10px 0 10px 0;
  opacity: 1;
  font-size: 20px;
}

.tui-is-disabled {
  opacity: 0;
}

strong {
  cursor: default;
}

.is-hidden {
  opacity: 0;
}

.is-open {
  opacity: 1;
}
